
*{
	box-sizing: border-box;
}
body
{
	font-family: Helvetica, Arial, Sans-serif;
	background-color: rgba(0, 158, 190, 0.3);
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

.menu{
	position:fixed;
	font-family: Arial, Sans-serif;
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}

.title{
	font-family: Arial, Sans-serif;
	font-size: 300%;
	text-align: center;

	font-weight: bold;
	width: 100%;
	left:0%;
	    color: rgb(3, 49, 86);

}

.mainTitle{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 470%;
	width: 90%;
	   color: rgb(3, 49, 86);
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-left: 14px;
}


.content{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 120%;
	text-align: left;
	position: static;
	line-height: 150%;
}

.footer{
	background-color: rgba(45, 102, 215, 0.6);
	color: #FFFFFF;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 100%;
	text-align: center;
	position: static;
	width: 100%;
	float: left;
	margin-top:15px;
}

hr{
    border-top-width: 10px;
    border-top-color: rgba(0, 0, 0, 1);
    border-bottom-width: 10px;
    border-bottom-color: rgba(45, 102, 215, 0.6);
    width:100%;
}

.subtitles{
	font-family: Helvetica, Arial, Sans-serif;
	font-size:150%;
	text-decoration: underline;
	font-weight: bold;
	 color: rgb(3, 49, 86);
}

#nocolor{
	background: rgba(0, 0, 0, 0);
}

.textwrap1
{
float: left;
margin-left:0%;
margin-right:10px;
margin-top:3px;
margin-bottom:10px;
border:2px solid rgb(134,80,32);
}
 .textwrapleft
 {
 	float:left;

 }
 .textwrapright
 {
 	float:right;
 }

.right2{
	float: right;
	padding :15px;
}

#whatwedo {
	text-align: left;
	padding-left: 32%;
}

.maxwidth{
	max-width:75px;
}

[class*="col-"] {
    float: left;
    padding:15px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 .image{
 	display: inline-block;
 }

 #nofloat{
 	float:none;
 }

